{% extends 'home/base.html' %}

{%block script%}

{%endblock%}

{%block title%}Import View{%endblock title%}



{%block content%}
<a class="d-block mb-3 mt-3" href="/api_view/?shop={{ shop_origin }}">API View</a>

<h2 class="display-3 mb-2">CSVファイル列名の設定</h2>

{{ form.non_field_errors }}
<div class="row no-gutters">
  <div class="col-md-4">
    <p>
      対応するCSVファイルの列名を入力してください。<br>
      取り込みが必要な値のみ、チェックボックスを有効にしてください。
    </p>
  </div>
  <div class="col-md-8">
    <div class="card mb-1">
      <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}

        <div class="card-body">

          <div class="form-group">
            <label class="Polaris-Label__Text" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
            <span class="helptext mt-1 d-block">{{ field.help_text }}</span>
            {% endif %}
            {{ field.errors }}
          </div>
        </div>
        <hr>
        {% endfor %}
        <div class="card-body">
          <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


{%endblock%}
